[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.6"
django-dynamic-fixture = "==2.0.0"
djangorestframework = "==3.10.3"
black = "*"

[dev-packages]

[requires]
python_version = "3.10"
